subscription_id      = ""
project_name         = "abenix"
environment          = "prod"
location             = "eastus2"
kubernetes_version   = "1.29"
system_node_size     = "Standard_D4s_v5"
workload_node_size   = "Standard_D4s_v5"
runtime_node_size    = "Standard_D8s_v5"
domain_name          = "abenix.io"
storage_replication_type = "GRS"
